'.source.lasso':
  'editor':
    'increaseIndentPattern': '(?x)(?i)(^.*\\{[^}"\']*$|^.*\\[[^\\]"\']*$\n\t\t|(else|case)\\b\n\t\t# Opening Container Tags\n\t\t|(^|[^\\/])(cache|database_names|database_schemanames|database_tablenames|define_tag|define_type\n\t\t\t|email_batch|encode_set|records|html_comment|handle|handle_error|header|if|inline\n\t\t\t|iterate|ljax_target|link|link_currentaction|link_currentgroup|link_currentrecord\n\t\t\t|link_detail|link_firstgroup|link_firstrecord|link_lastgroup|link_lastrecord\n\t\t\t|link_nextgroup|link_nextrecord|link_prevgroup|link_prevrecord|log|loop|namespace_using\n\t\t\t|noprocess|output_none|portal|private|protect|referer|referrer|repeating|resultset|rows\n\t\t\t|search_args|search_arguments|select|sort_args|sort_arguments|thread_atomic|value_list\n\t\t\t|while)\\b[^}]*$\n\t)'
    'decreaseIndentPattern': '(?x)(?i)^\\s*([}\\]]\\s*$\n\t\t|(else|case)\\b\n\t\t# Closing Container Tags\n\t\t|\\/(cache|database_names|database_schemanames|database_tablenames|define_tag|define_type\n\t\t\t|email_batch|encode_set|records|html_comment|handle|handle_error|header|if|inline\n\t\t\t|iterate|ljax_target|link|link_currentaction|link_currentgroup|link_currentrecord\n\t\t\t|link_detail|link_firstgroup|link_firstrecord|link_lastgroup|link_lastrecord\n\t\t\t|link_nextgroup|link_nextrecord|link_prevgroup|link_prevrecord|log|loop|namespace_using\n\t\t\t|noprocess|output_none|portal|private|protect|referer|referrer|repeating|resultset|rows\n\t\t\t|search_args|search_arguments|select|sort_args|sort_arguments|thread_atomic|value_list\n\t\t\t|while)\\b\n\t)'
